// Unit selector
.unit-selector {
  top: 4px;
}

// Dataset
.dataset-input-container {
  margin: 0;
  padding: 0 0 0 16px;
  background-color: white;
  label {
    padding-left: 16px !important;
  }
}

.dataset-input-source {
  border-width: 0 1px 0 0 !important;
}

.dataset-input-target {
  border-width: 0 !important;
}

// Convert button
.convert-button {
  &:disabled {
    background-color: #e0e0e0 !important;
  }

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
