// Unit selector
.unit-selector {
  top: 4px;
}

// Dataset
.dataset-input-container {
  margin: 0;
  padding: 0 0 0 16px;
  background-color: white;
  label {
    padding-left: 16px !important;
  }
}

.dataset-input-source {
  border-width: 0 1px 0 0 !important;
}

.dataset-input-target {
  border-width: 0 !important;
}

// Datepicker
.dataset-datepicker-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  margin-top: 2px;
  margin-left: 14px;
}

.dataset-datepicker {
  background-color: #fafafa;

  .md-datepicker-triangle-button {
    top: 6px;
  }
}

// Convert button
.convert-button {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.convert-button-valid {
  &:disabled {
    background-color: #e0e0e0 !important;
  }
}

.convert-button-invalid {
  &:disabled {
    background-color: #e57373 !important;
  }
}
