/**
 * Converters
 */

.converter-grid-margin {
  margin: 8px 0 8px 8px;
}

.converter-hover:hover {
  md-card-header-text {
    color: $yang-color;
  }
}

.converter-close-icon {
  top: -4px;
  right: -8px;
}

.converter-equals-sign {
  text-align: center;
}

.converter-date-input {
  top: -6px !important;

  .md-datepicker-input-container {
    margin: 0;
  }
}

/**
 * Logger
 */

.logger-input-container {
  margin: 8px 0;
}

.logger-textarea {
  border-width: 1px 0 0 !important;
}

.converter-filter-subheader {
  font-weight: bold;
  text-transform: uppercase;
}

/**
 * Converter filter
 */

.converter-filter-grid-margin {
  margin: 8px 0;
}

.converter-filter-button {
  text-transform: none;
}

.converter-filter-check-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px !important;
  height: 24px !important;
  min-height: 24px !important;
  line-height: 24px !important;
  padding: 0;
  margin: 0;
}

.highlight {
  color: $yang-color;
}
