<div layout="row" layout-xs="column">
    <!-- unit converters to the left -->
    <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols-xl="4"
                  md-row-height="250px" md-gutter="8px" style="margin: 8px 0px 8px 8px" flex>
        <md-grid-tile ng-repeat="quantity in vm.unitQuantities | orderBy:'name'"
                      ng-if="vm.isUnitQuantitySelected(quantity.name)">
            <md-card layout-fill>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-headline">{{ quantity.name }}</span>
                    </md-card-header-text>
                    <!--<md-card-actions layout-align="end">-->
                    <!--<md-button class="md-icon-button" aria-label="Close">-->
                    <!--<md-icon>close</md-icon>-->
                    <!--</md-button>-->
                    <!--</md-card-actions>-->
                </md-card-header>
                <md-card-content layout="row">
                    <div layout="column" flex="45">
                        <md-input-container md-no-float>
                            <input ng-model="lhsValue" ng-change="vm.convertFromLeftToRight(this)" type="number"
                                   aria-label="Left hand side value">
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="lhsUnit" md-on-close="vm.convertFromLeftToRight(this)"
                                       aria-label="Left hand side unit">
                                <!-- select the first unit -->
                                <md-option ng-repeat="unit in quantity.units" value="{{unit.symbol}}"
                                           ng-selected="$first">
                                    {{unit.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <h2 flex="10" class="md-headline" style="text-align: center">=</h2>
                    <div layout="column" flex="45">
                        <md-input-container md-no-float>
                            <input ng-model="rhsValue" ng-change="vm.convertFromRightToLeft(this)" type="number"
                                   aria-label="Right hand side value">
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="rhsUnit" md-on-close="vm.convertFromLeftToRight(this)"
                                       aria-label="Right hand side unit">
                                <!-- select the second unit -->
                                <md-option ng-repeat="unit in quantity.units" value="{{unit.symbol}}"
                                           ng-selected="$index == 1">
                                    {{unit.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
    <!-- unit converter search input to the right (which is only displayed when no mobile device is used) -->
    <md-card flex="33" flex-xs="100">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Add converters to the dashboard</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column">
            <md-input-container md-no-float flex>
                <md-icon>search</md-icon>
                <input type="text" ng-model="vm.searchTerm" placeholder="Search for a converter">
            </md-input-container>
            <div ng-repeat="class in vm.unitClasses">
                <span class="md-subhead" style="text-transform: uppercase; font-weight: bold;">{{class.name}}</span>
                <md-grid-list md-row-height="50px" md-cols="3" md-gutter="8px">
                    <md-grid-tile ng-repeat="quantity in class.quantities | orderBy:'name'">
                        <md-button ng-class="vm.toggle ? 'md-raised' : 'md-primary'">{{quantity.name}}</md-button>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-card-content>
    </md-card>
</div>

