<div layout="row" layout-xs="column">
    <!-- unit converters and the logger to the left -->
    <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols-xl="3"
                  md-row-height="260px" md-gutter="8px" class="converter-grid-margin" flex>
        <!-- unit converters -->
        <md-grid-tile ng-repeat="quantity in vm.unitQuantities | orderBy:'name'"
                      ng-if="vm.isUnitQuantitySelected(quantity.name)"
                      ng-init="quantityName = quantity.name">
            <md-card layout-fill class="converter-hover">
                <md-card-header>
                    <md-card-header-text class="md-headline">
                        {{ quantityName }}
                    </md-card-header-text>
                    <md-datepicker class="converter-date-input" ng-if="quantityName == 'Currency'"
                                   ng-model="$parent.date"
                                   ng-change="vm.convertFromLeftToRight($parent)"
                                   ng-init="$parent.date = vm.date;"
                                   md-min-date="vm.minDate" md-max-date="vm.maxDate"
                                   md-open-on-focus>
                    </md-datepicker>
                    <md-button class="md-icon-button converter-close-icon" ng-click="vm.toggleConverter(quantityName)"
                               aria-label="Close converter">
                        <md-icon>close</md-icon>
                    </md-button>
                </md-card-header>
                <md-card-content layout="row">
                    <div layout="column" flex="45">
                        <md-input-container md-no-float>
                            <input ng-model="lhsValue" ng-change="vm.convertFromLeftToRight(this)"
                                   ng-model-options="{ debounce: 1000 }" type="number"
                                   aria-label="Left hand side value">
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="lhsUnit" md-on-close="vm.convertFromLeftToRight(this)"
                                       aria-label="Left hand side unit">
                                <!-- select the first unit -->
                                <md-option ng-repeat="unit in quantity.units" ng-value="unit"
                                           ng-selected="$first">
                                    {{unit.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <h2 flex="10" class="md-headline" style="text-align: center">=</h2>
                    <div layout="column" flex="45">
                        <md-input-container md-no-float>
                            <input ng-model="rhsValue" ng-change="vm.convertFromRightToLeft(this)"
                                   ng-model-options="{ debounce: 1000 }" type="number"
                                   aria-label="Right hand side value">
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="rhsUnit" md-on-close="vm.convertFromLeftToRight(this)"
                                       aria-label="Right hand side unit">
                                <!-- select the second unit -->
                                <md-option ng-repeat="unit in quantity.units" ng-value="unit"
                                           ng-selected="$index == 1">
                                    {{unit.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
        <!-- logger -->
        <md-grid-tile md-colspan="1" md-colspan-md="2" md-colspan-lg="3" md-colspan-xl="3" hide-xs hide-sm>
            <md-card layout-fill>
                <md-card-header>
                    <md-card-header-text class="md-title">
                        Logger
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <md-input-container class="md-block" style="margin: 8px 0;">
                        <textarea ng-model="vm.logMessages" class="logger" rows="6"
                                  readonly md-no-autogrow aria-label="Logger">
                        </textarea>
                    </md-input-container>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
    <!-- unit converter search input to the right (which is only displayed when no mobile device is used) -->
    <md-card flex="33" flex-xs="100" flex-order-xs="-1">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Add converters to the dashboard</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="column">
            <md-input-container md-no-float flex>
                <md-icon>search</md-icon>
                <input type="text" ng-model="searchTerm.name" placeholder="Search for a converter">
            </md-input-container>
            <div ng-repeat="class in vm.unitClasses">
                <span class="md-subhead converter-filter-subheader">{{class.name}}</span>
                <md-grid-list md-row-height="80px" md-cols="3" md-cols-sm="2" md-cols-xs="2" md-gutter="16px"
                              class="converter-filter-grid-margin">
                    <md-grid-tile ng-repeat="quantity in class.quantities | orderBy:'name' | filter:searchTerm"
                                  ng-init="quantityName = quantity.name">
                        <md-button md-whiteframe="2" ng-click="vm.toggleConverter(quantityName)"
                                   class="converter-filter-button" layout-fill>
                            <span class="md-subhead" md-highlight-text="searchTerm.name" md-highlight-flags="i">{{quantityName}}</span>
                        </md-button>
                        <md-button class="md-fab md-mini converter-filter-check-button"
                                   ng-click="vm.toggleConverter(quantityName)"
                                   ng-show="vm.isUnitQuantitySelected(quantityName)">
                            <md-icon>check</md-icon>
                        </md-button>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-card-content>
    </md-card>
</div>

