<md-toolbar layout="row" layout-fill md-whiteframe="1" class="md-primary md-hue-3">
    <div class="md-toolbar-tools">
        <a href="#" layout="row" md-ink-ripple>
            <img src="assets/images/kungfunit.png" alt="KungFunit Logo" style="width: 32px; height: 32px">&nbsp;&nbsp;
            <div class="md-headline yin-yang-font" >
                <span class="yin-color">Kung</span><span class="yang-color">Funit</span>
            </div>
        </a>
        &nbsp;&nbsp;
        <div layout="row" flex>
            <md-button class="md-raised" ui-sref="datasets">Datasets</md-button>
            <md-button class="md-raised" ui-sref="documentation">Documentation</md-button>
            <md-button class="md-raised" ui-sref="about">About</md-button>
        </div>
        <md-button class="md-raised" ui-sref="example">Example</md-button>
    </div>
</md-toolbar>
